@(products: Seq[Product])
<style>
  td, th, table { border: solid 1px #ddd}
</style>
<table>
  <thead>
    <tr>
      <th>ID:</th>
      <th>Name:</th>
      <th>Description:</th>
      <th>Category Id:</th>
    </tr>
  </thead>
  <tbody>
    @for(product <- products) {
        <tr>
          <td>@product.id</td>
          <td>@product.name</td>
          <td>@product.description</td>
          <td>@product.category</td>
        </tr>
    @*  <a href="@controllers.routes.ProductController.updateProduct(product.id)">Edit</a>*@
    @*  <a href="@controllers.routes.ProductController.delete(product.id)">Delete</a>*@
  }
  </tbody>
</table>
